{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}

	<div id="carousel-major" class="carousel slide carousel-fade"  data-bs-ride="carousel">
		<!-- Indicators/dots -->
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
			<button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
		</div>
		<!-- The slideshow/carousel -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{% static 'images/carousel1.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel2.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel3.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel4.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel5.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel6.jpg' %}" alt="" class="d-block w-100">
			</div>
			<div class="carousel-item">
				<img src="{% static 'images/carousel7.jpg' %}" alt="" class="d-block w-100">
			</div>
		</div>
		<!-- Left and right controls/icons -->
		<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
			<span class="carousel-control-next-icon"></span>
		</button>
	</div>

	<section id="major">
		<div class="row justify-content-center">
			<h2 class="text-center"><a class="nav-link" href="#home">{% trans "Welcome" %}!</a></h2>						
		</div>	
		<p>{% trans "Do not know" %}</p>
		<p>{% trans "Description" %}</p>
	</section>
	
	
	<!-- Преимущества ================================================== -->	
	<section id="benefits">
		<div class="row justify-content-center">
			<h2 class="text-center"><a class="nav-link" href="#benefits">{% trans "Benefits" %}</a></h2>						
		</div>		
		<div  class="row justify-content-center">
			<div class="col-md-3" align="center">
				<img src="{% static 'images/benefits-delivery.png' %}" width="100%" alt="" />					
				<h2>{% trans "delivery-rk" %}</h2>				
			</div>
			<div class="col-md-3" align="center">
				<img src="{% static 'images/benefits-support.png' %}" width="100%" alt="" />					
				<div class="title">
					<h2>{% trans "support7" %}</h2>
				</div>					
			</div>
			<div class="col-md-3" align="center">
				<img src="{% static 'images/benefits-bonus.png' %}" width="100%" alt="" />					
				<div class="title">
					<h2>{% trans "bonus" %}</h2>
				</div>					
			</div>
			<div class="col-md-3" align="center">
				<img src="{% static 'images/benefits-warranty.png' %}" width="100%" alt="" />					
				<div class="title">
					<h2>{% trans "warranty" %}</h2>
				</div>					
			</div>
		</div>				
	</section>
		
	<!-- Каталог -->
	<hr>
	<section id="catalog">
		<div class="row justify-content-center">
			<h2 class="text-center"><a class="nav-link" href="{% url 'catalog_list' %}">{% trans "Full Catalog" %}</a></h2>						
		</div>
		<div class="row">
			{% if catalog.count > 0 %}
				{% for c in catalog %}
				<div class="col-lg-3">
					{% if c.photo.url != None %}					
						{% if c.photo.url == "/media/images/product01.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product01.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product02.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product02.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product03.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product03.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product04.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product04.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product05.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product05.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product06.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product06.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product07.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product07.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product08.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product08.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product09.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product09.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product10.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product10.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product11.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product11.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product12.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product12.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product13.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product13.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product14.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product14.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product15.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product15.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product16.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product16.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product17.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product17.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product18.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product18.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product19.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product19.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product20.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product20.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product21.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product21.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product22.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product22.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product23.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product23.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product24.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product24.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% elif c.photo.url == "/media/images/product25.jpg" %}
							<img style="height:200px; max-width:200px;;" src="{% static 'images/product25.jpg' %}" alt="{{ c.title }}" title="{{ c.details }}">    
						{% else %}
							{% if c.photo.url != None %}
								<img style="height:200px; max-width:200px;;" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
							{% endif %}
						{% endif %}						
					{% endif %}
					<h4><a href="{% url 'catalog_details' c.id %}">{{ c.title }}</a></h4>
					<h5>{{ c.price }}  〒</h5>					
					{% if c.avg_rating != None %}
					<p><div class="Stars" style='--rating: {{ c.avg_rating| stringformat:".1f" }};'></div></p>							
					<!-- <h6>{% trans "Avg Rating" %}: {{ c.avg_rating | floatformat:1 }}</h6>								 -->
					{% endif %}
					{% if c.sale_quantity != None %}
					<h6>{% trans "Sale Quantity" %}: {{ c.sale_quantity }}</h6>								
					{% endif %}
				</div>
				{% endfor %}
			{% endif %}						
		</div>
	</section>
	
	<!-- Отзывы -->
	<hr>
	<section id="reviews">
		<div class="row justify-content-center">
			<h2 class="text-center"><a class="nav-link" href="#reviews">{% trans "Reviews" %}</a></h2>						
		</div>
		<div class="row">
			{% if reviews.count > 0 %}
				{% for r in reviews %}
					<div class="col-lg-3">
						<h6> {{ r.username }}</h6>
						<h5><a href="{% url 'catalog_details' r.catalog_id %}">{{ r.title }}</a></h5>
						<!-- <h6>{% trans "Rating" %} {{ r.rating }}</h6> -->
						<p><div class="Stars" style='--rating: {{ r.rating| stringformat:".1f" }};'></div></p>													
						<blockquote>{{ r.details | slice:"0:100" }}...</blockquote>									
					</div>
				{% endfor %}
			{% endif %}						
		</div>
	</section>

	<!-- Призыв к действию ================================================== 
	<section id="action">
        <div class="row">
            <h2>Выгода при заказе сегодня</h2>
            <p>Какой-то текст:</p>
            <button class="btn btn-default">Заказать сейчас!</button>
        </div>
	</section>	
	-->
{% endblock content %}

